/* user styles */

:root {
  --header-image: url("media/kuromi-banner.jpg");
  --body-bg-image: url("tile-backgrounds/033C.jpg");
  --content: #000000;
}

@font-face {
  font-family: Nunito;
  src: url("https://sadhost.neocities.org/fonts/Nunito-Regular.ttf");
}

@font-face {
  font-family: Nunito;
  src: url("https://sadhost.neocities.org/fonts/Nunito-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: Nunito;
  src: url("https://sadhost.neocities.org/fonts/Nunito-Italic.ttf");
  font-style: italic;
}

@font-face {
  font-family: Nunito;
  src: url("https://sadhost.neocities.org/fonts/Nunito-BoldItalic.ttf");
  font-style: italic;
  font-weight: bold;
}

body {
  font-family: "Nunito", sans-serif;
  margin: auto;
  background-color: #08031a;
  background-size: 65px;
  color: #ffffff;
  background-image: var(--body-bg-image);
}

* {
  box-sizing: border-box;
}

#container {
  width: 75%;
  /*margin: auto;*/
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#container a {
  color: #ffffff;
  font-weight: bold;
}

#header {
  width: 100%;
  height: 150px;
  margin: auto;
  background-color: #ededed;
  background-image: var(--header-image);
  background-size: 100%;
}

/* navbar section */
#navbar {
  height: 40px;
  background-color: #ffffff;
  width: 100%;
}

#navbar ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  justify-content: space-evenly;
}

#navbar li {
  padding-top: 10px;
}

/* navigation links*/
#navbar li a {
  color: #ffffff;
  font-weight: 800;
  text-decoration: none;
}

/* navigation link when a link is hovered over */
#navbar li a:hover {
  color: #a49cba;
  text-decoration: underline;
}

#flex {
  display: flex;
}

/* this colors BOTH sidebars
    if you want to style them separately,
    create styles for #leftSidebar and #rightSidebar */
aside {
  background-color: #241445;
  width: 200px;
  padding: 20px;
  font-size: smaller;
  /* this makes the sidebar text slightly smaller */
}

/* this is the color of the main content area between the sidebars! */
main {
  background-color: #43256e;
  flex: 1;
  padding: 20px;
  order: 2;
}

/* what's this "order" stuff about??
    allow me to explain!
    if you're using both sidebars, the "order" value
    tells the CSS the order in which to display them.
    left sidebar is 1, content is 2, and right sidebar is 3! */

*/ #leftSidebar {
  order: 1;
}

#rightSidebar {
  order: 3;
}

footer {
  background-color: #13092d;
  width: 100%;
  height: 40px;
  padding: 10px;
  text-align: center;
  margin-top: 0px;
  border: #fff;
}

h1,
h2,
h3 {
  color: #ffffff;
}

h1 {
  font-size: 25px;
}

strong {
  /* this styles bold text */
  color: #ed64f5;
}

/* this is just a cool box, it's the darker colored one */
.box {
  background-color: #fa9fff;
  border: 3px solid #34184a;
  padding: 10px;
}

/* CSS for extras */

#topBar {
  width: 100%;
  height: 30px;
  padding: 10px;
  font-size: smaller;
  background-color: #13092d;
}

/* MOBILE VIEW */

@media only screen and (max-width: 800px) {
  #flex {
    flex-wrap: wrap;
  }

  aside {
    width: 100%;
  }

  main {
    order: 1;
  }

  #leftSidebar {
    order: 2;
  }

  #rightSidebar {
    order: 3;
  }

  #navbar ul {
    flex-wrap: wrap;
  }
}

img {
  width: 300px;
  margin: auto;
}
